<%= render 'shared/nav' %>
<div class="container">
  <h1 class="text-center">Edit article</h1>

  <%= render 'form' %>

  <%= link_to "cancel and return", articles_path, class: 'btn btn-outline-dark btn-sm' %>
</div>