<%= render 'shared/nav' %>

<h1 class="text-center">Create a new article</h1><br>
<%= render 'form' %>
 
<div class="d-grid mx-auto mb-3 col-2">
   <%= link_to "Return to list of articles", articles_path, class: 'btn btn-outline-dark btn-sm' %>
</div>