<%= render 'shared/nav' %>

<div class="cont">
  <div class="card bg-light text-dark">
    <div class="home-card-body">
     <h1 class="display-home">Welcome to MyBlogApp</h1>
     <h3 class="text-center text-white">Are you looking for a free blog site to create beautiful blogs</h3>
   </div>
  </div>
</div>